---
layout: default
---

<article class="post">
	<div class="PageNavigation">
			{% if page.previous.url %}
				<div class="prev">
					<i class="nav-arrow fa fa-chevron-left"></i>
					<a href="{{page.previous.url}}">{{page.previous.title}}</a>
				</div>
			{% endif %}
			{% if page.next.url %}
				<div class="next">
					<a href="{{page.next.url}}">{{page.next.title}}</a>
					<i class="nav-arrow fa fa-chevron-right"></i>
				</div>
			{% endif %}
	</div>
	<h1>{{ page.title }}</h1>

	<div class="entry">
		{{ content }}
	</div>

	<div class="date">
		Written on {{ page.date | date: "%B %e, %Y" }}
	</div>

{% include disqus.html %}
</article>
